body, html {
    height: 400vh;
    min-height: 400vh;
}

/*#test-body {*/
/*    height: 400vh;*/
/*    min-height: 400vh;*/
/*}*/

#scene {
    background: #00ccff;
}

#block {
    background: #f00;
}

.display {
    width: 100vw;
    height: 100vh;
}
